<div class="header">

    <div class="header__correo">
        <h3>Nombres</h3>
        <input  type="text" pInputText [(ngModel)]="persona.nombres"/>
    </div>

    <div class="header__correo">
        <h3>Apellidos</h3>
        <input  type="text" pInputText [(ngModel)]="persona.apellidos"/>
    </div>

    <div class="header__campouno">
        <h3>Tipo Documento</h3>
        <p-dropdown [options]="listaDocumentos" placeholder="Seleccionar" 
            [(ngModel)]="tipoDocumentoSeleccionado" optionLabel="tipoDocumento" ></p-dropdown>
    </div>

    <div class="header__correo">
        <h3>Número documento</h3>
        <input  type="text" pInputText [(ngModel)]="persona.numeroDocumento"/>
    </div>

</div>

<div class="header">

    
    <div class="header__campodos" >
        <h3>Pais</h3>
        <p-dropdown [options]="listaPais" [(ngModel)]="paisSeleccionado" placeholder="Seleccionar" optionLabel="pais" ></p-dropdown>
    </div>

    <div class="header__correo">
        <h3>Edad</h3>
        <input  type="text" pInputText [(ngModel)]="persona.edad"/>
    </div>

    <div class="header__correo">
        <h3>Genero</h3>
        <input  type="text" pInputText [(ngModel)]="persona.genero"/>
    </div>

    <div class="button">
        <p-button label="Submit" (onClick)="guardarPersona()"></p-button>
    </div>

</div>



<div class="table">
    <p-table [value]="listaPersonas">
        <ng-template pTemplate="header">
            <tr>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Edad</th>
                <th>Genero</th>
                <th>Pais</th>
                <th>Tipo Documento</th>
                <th>Número Documento</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-persona>
            <tr>
                <td>{{persona.nombres}}</td>
                <td>{{persona.apellidos}}</td>
                <td>{{persona.edad}}</td>
                <td>{{persona.genero}}</td>
                <td>{{persona.idPais?.pais}}</td>
                <td>{{persona.idTipoDocumento?.tipoDocumento}}</td>
                <td>{{persona.numeroDocumento}}</td>
                <td><p-button label="Eliminar" (onClick)="eliminarPersona(persona.id)"></p-button></td>
            </tr>
        </ng-template>
    </p-table>
</div>



